/* Variables */

$init: px;

//================
//mobile max
$xs_small: 0;
$xs_medium: 359;
$xs_large: 599;
//tablet
$sm_small: 719;
$sm_medium: 839;
$md_medium: 959;
$md_large: 1023;
// large
$lg_small: 1279;
$xs_small: 1439;
$xs_medium: 1599;

//================
//mobile min
$_xs_small: 0;
$_xs_medium: 360;
$_xs_large: 600;
//tablet
$_sm_small: 720;
$_sm_medium: 840;
$_md_medium: 960;
$_md_large: 1024;
// large
$_lg_small: 1280;
$_xs_small: 1440;
$_xs_medium: 1600;

/* MEDIA */

@mixin media-down($media) {
    @if $media == xs_small {
        @media only screen and (max-width: $xs_small + $init) { @content; }
    }
    @else if $media == xs_medium {
        @media only screen and (max-width: $xs_medium + $init) { @content; }
    }
    @else if $media == xs_large {
        @media only screen and (max-width: $xs_large + $init) { @content; }
    }
    @else if $media == sm_small {
        @media only screen and (max-width: $sm_small + $init) { @content; }
    }
    @else if $media == sm_medium {
        @media only screen and (max-width: $sm_medium + $init) { @content; }
    }
    @else if $media == md_medium {
        @media only screen and (max-width: $md_medium + $init) { @content; }
    }
    @else if $media == md_large {
        @media only screen and (max-width: $md_large + $init) { @content; }
    }
    @else if $media == lg_small {
        @media only screen and (max-width: $lg_small + $init) { @content; }
    }
    @else if $media == xs_small {
        @media only screen and (max-width: $xs_small + $init) { @content; }
    }
    @else if $media == xs_medium {
        @media only screen and (max-width: $xs_medium + $init) { @content; }
    }
}

@mixin media-up($media) {
    @if $media == _xs_small {
        @media only screen and (min-width: $_xs_small + $init) { @content; }
    }
    @else if $media == _xs_medium {
        @media only screen and (min-width: $_xs_medium + $init) { @content; }
    }
    @else if $media == _xs_large {
        @media only screen and (min-width: $_xs_large + $init) { @content; }
    }
    @else if $media == _sm_small {
        @media only screen and (min-width: $_sm_small + $init) { @content; }
    }
    @else if $media == _sm_medium {
        @media only screen and (min-width: $_sm_medium + $init) { @content; }
    }
    @else if $media == _md_medium {
        @media only screen and (min-width: $_md_medium + $init) { @content; }
    }
    @else if $media == _md_large {
        @media only screen and (min-width: $_md_large + $init) { @content; }
    }
    @else if $media == _lg_small {
        @media only screen and (min-width: $_lg_small + $init) { @content; }
    }
    @else if $media == _xs_small {
        @media only screen and (min-width: $_xs_small + $init) { @content; }
    }
    @else if $media == _xs_medium {
        @media only screen and (min-width: $_xs_medium + $init) { @content; }
    }
}

@include media-down(xs_small) {}
@include media-down(xs_medium) {}
@include media-down(xs_large) {}
@include media-down(sm_small) {}
@include media-down(sm_medium) {}
@include media-down(md_medium) {}
@include media-down(md_large) {}
@include media-down(lg_small) {}
@include media-down(xs_small) {}
@include media-down(xs_medium) {}

@include media-up(_xs_small) {}
@include media-up(_xs_medium) {}
@include media-up(_xs_large) {}
@include media-up(_sm_small) {}
@include media-up(_sm_medium) {}
@include media-up(_md_medium) {}
@include media-up(_md_large) {}
@include media-up(_lg_small) {}
@include media-up(_xs_small) {}
@include media-up(_xs_medium) {}
