.fhd {

    & select {
        height: 48px;
        background: $input-bg;
        border: 1px solid $input-border;
        box-sizing: border-box;
        border-radius: $input-border-radius;

        color: $black;
        font-family: $Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1;
        padding: 8px 18px;
        transition: $expo-out;
    }

    .has-error select{
        border-color: $red;
        color: $red;

        & option{
            color: $black;
        }
    }

    &  select:focus{
        outline: none;
        box-shadow: none;
    }
}