@import "../../style/sass/base";

/* Variables */

$calculator-label-color: #828282;
$calculator-white: #fff;
$calculator-bg: #f8fafb;
$calculator-tab-active-bg: #f0f4f7;
$calculator-tab-color: #0A5E74;
$placeholder-color: #BDBDBD;

$switch-border-color: #D4DBDC;
$switch-bg-color: #F8FAFB;
$switch-checked-color: #0A5E74;

$calculator-checkbox-border-color: #BDBDBD;
$calculator-checkbox-border-blue: #0A5E74;
$calculator-checkbox-bg-color: #0A5E74;
$calculator-checkbox-checked-color: #0A5E74;

.fhd{
    padding: 0;
    margin: 0;
}

.fhd-calculator {
    background-color: $calculator-bg;

    & #root{
        padding: 0;
        margin: 0;
        border: none;
    }

	& .form-control{
	  background-color: $calculator-white;
	}

	&__tabs{
	  margin-bottom: 0;
	}

	&__tabs .field-radio-group{
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: nowrap;
	}

  	&__tabs .radio {
        font-family: $Roboto;
        font-size: 1.125rem;
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase;
        color: $calculator-tab-color;

        flex: 1 1 50%;
        height: 60px;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin-bottom: 0;
	}

	&__tabs .radio label{
	  display: block;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  margin: 0;
	}

	&__tabs .radio label span{
	  display: block;
	  width: 100%;
	  height: 100%;
	  cursor: pointer;
	}

	&__tabs .radio input{
	  display: none;
	}

	&__tabs .radio input + span{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background-color: $calculator-tab-active-bg;
	}

	&__tabs .radio input:checked + span{
	  background-color: transparent;
	}

    & .total_cost,
    & .shipping_cost,
    & .tax_amount{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 20px 10px;

        @media screen and (min-width: 600px){
            padding-left: 16px;
            padding-right: 16px;
        }

        @media screen and (min-width: 960px){
            padding-left: 24px;
            padding-right: 24px;
        }

        @media screen and (min-width: 1280px){
            padding-left: 32px;
            padding-right: 32px;
        }

        // 600 >
/*        @include media-up(xs_large) {
            padding-left: 16px;
            padding-right: 16px;
        }
*/
        // 960 >
/*        @include media-up(md_medium) {
            padding-left: 24px;
            padding-right: 24px;
        }
*/
        // 1280 >
/*        @include media-up(md_large) {
            padding-left: 32px;
            padding-right: 32px;
        }
*/

        fieldset{
            border: 0;
            margin: 0;
            padding: 0;
        }

        select,
        input{
            width: 100%;
        }
    }

    & .total_cost input[type="text"],
    & .total_cost input[type="number"],
    & .total_cost select{
        width: 100%;
    }

    #root_shipping_cost,
    #root_tax_amount{
        & fieldset{
            margin: 15px -10px;
        }
    }
    #root_total_cost{
        margin: 0 -10px;
    }

    & .col-inner {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
    }

    & .control-label{
        display: none;
    }

    & input[type='number']::-webkit-outer-spin-button,
    & input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    & input[type='number'] {
        -moz-appearance: textfield;
    }

    & .switch .control-label,
    & .switch input{
        display: none;
    }

    & .switch .checkbox label{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 32px;
        cursor: pointer;
        user-select: none;
    }

    & .switch .checkbox label span{
        position: relative;
        padding-left: 2.5rem;
    }

    & .switch .checkbox label span::before{
        content: "";
        display: block;
        width: 32px;
        height: 16px;
        box-sizing: border-box;
        border-radius: 60px;
        border: 0.085rem solid $switch-border-color;
        background-color: $switch-bg-color;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
    }

    & .switch .checkbox input:checked + span::before{
        color: $calculator-white;
        border-color: $switch-border-color;
        background-color: $switch-bg-color;
    }

    & .switch .checkbox label span::after{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        border-radius: 50%;
        background: $switch-checked-color;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
        opacity: 1;
        transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    & .switch .checkbox input:checked + span::after{
        transform: translateX(75%);
    }

    & .btn{
	  padding-left: 2.5rem;
	  padding-right: 2.5rem;
    }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $placeholder-color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
	color: $placeholder-color;
  }
  :-ms-input-placeholder { /* IE 10+ */
	color: $placeholder-color;
  }
  :-moz-placeholder { /* Firefox 18- */
	color: $placeholder-color;
  }
}

#root_total_cost {
    display: block;
    padding: 0;

    &__title{
        display: none;
    }
}


// CheckboxBase
#root_tax_amount,
#root_shipping_cost {

    position: relative;
    padding: 0;
    border: 0;

    &__title{
        padding-left: 30px;
    }

    & .row p{
        padding: 0;
        margin: 0;
    }

    & .row button{
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 100%;
        z-index: 9;
        cursor: pointer;

        background: transparent;
        border: none;
    }

    & .row button:focus{
        outline: none;
        box-shadow: none;
    }

    & .row.array-item-list button{
        z-index: 10;
    }

    & .row button::before{
        content: '';
        width: 19px;
        height: 18px;
        display: block;
        border: 0.1rem solid $calculator-checkbox-border-blue;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        transition: $expo-out;
    }

    & .row:not(.array-item-list) button::before{
        background: $white;
    }

    & .row.array-item-list button::before{
        background: $calculator-checkbox-checked-color;
    }

    & .row.array-item-list button::after{
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 0.8rem;
        color: $white;

        position: absolute;
        top: 0.1525rem;
        left: 0.1525rem;
        bottom: 0;
        margin: auto 0;
        transition: $expo-out;
    }

}


// 600
@include media-up(xs_large) {

    .fhd-calculator .total_cost,
    .fhd-calculator .shipping_cost,
    .fhd-calculator .tax_amount {
        padding-left: 16px;
        padding-right: 16px;
    }
}
// 960
@include media-up(md_medium) {
    .fhd-calculator .total_cost,
    .fhd-calculator .shipping_cost,
    .fhd-calculator .tax_amount {
        padding-left: 24px;
        padding-right: 24px;
    }
}
// 1280
@include media-up(md_large) {
    .fhd-calculator .total_cost,
    .fhd-calculator .shipping_cost,
    .fhd-calculator .tax_amount {
        padding-left: 32px;
        padding-right: 32px;
    }
}