.fhd{

    & input{
        height: 48px;
        background: $input-bg;
        border: 1px solid $input-border;
        box-sizing: border-box;
        border-radius: $input-border-radius;

        color: $black;
        font-family: $Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1;
        padding: 8px 18px;
        transition: $expo-out;
    }

    .has-error input{
        border-color: $red;
        color: $red;
    }

    &  input:focus{
        outline: none;
        box-shadow: none;
        border-color: $green;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #BDBDBD;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #BDBDBD;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #BDBDBD;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #BDBDBD;
    }

    & .error-detail{
        list-style: none;
        padding: 0;
        margin: 0.1rem 0;
        color: $red;
    }
}