
// Color
$black: #333;
$white: #fff;
$gray: #BDBDBD;
$gray-100: #F2F2F2;
$gray-600: #828282;
$orange: #F1774F;
$blue: #0A5E74;
$blue-100: rgba(10, 94, 116, 0.08);
$blue-200: #E1EBEE;
$red: #EB5757;
$green: #219653;

// Font
$Roboto: 'Roboto';

// border - shadow
$box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);

// trans
$expo-out: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

// Form
$input-bg: #F8FAFB;
$input-border: #D4DBDC;
$input-border-radius: 3px;
$color-placeholder: #BDBDBD;
$input-focus: $blue;