$btn-radius: 3px;
$btn-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
$btn-box-shadow-base: 0px 0px 16px rgba(0, 0, 0, 0.06);

.fhd{

  .MuiButtonBase-root{
    font-family: $Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 0.85rem;
    line-height: 1rem;
    text-align: center;
    padding: 0.85rem 1.125rem;
    height: 48px;
  }

  .MuiButton-containedSecondary{
    background: $orange;
    box-shadow: $btn-box-shadow;
    border-radius: $btn-radius;

    color: #FFFFFF;
  }

  .MuiButton-containedSecondary:hover {
    background: darken($orange, 6%);
  }

  .makeStyles-backButton-2{
    background: $white;
    box-shadow: $btn-box-shadow-base;
    border-radius: $btn-radius;
    color: $blue;
  }
}